.app {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    }

.mt-6{
  margin-top: 6rem;
}

.mt-7{
  margin-top: 7rem;
}
.mt-8{
  margin-top: 8rem;
}
.mt-9{
  margin-top: 9rem;
}
.mt-10{
  margin-top: 10rem;
}
.mt-11{
  margin-top: 11rem;
}
.mt-12{
  margin-top: 12rem;
}

.cuerpo{
  margin: 37vh;
  
}

.boton{
  border-color: yellow;
  border-width: 12px;
}